:root {
  --light-main: #dcdbe1;
  --light-addict: #fdfdff;

  --dark-main: #1f1f1f;
  --dark-addict: #303302;

  --blue-main: #e3e8ff;

  --dark-opacity: rgba(31, 31, 31, 0.8);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-main);
  --color-background-soft: var(--light-addict);

  --color-heading: var(--dark-addict);
  --color-text: var(--dark-main);
  --color-text-inverse: var(--light-main);

  --color-border-theme: var(--light-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-main);
    --color-background-soft: var(var(--dark-addict));

    --color-heading: var(--light-addict);
    --color-text: var(--light-main);
    --color-text-inverse: var(--dark-main);

    --color-border-theme: var(--dark-main);
  }
}
